body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

body {
    background: #000;
    overflow: hidden
}

.wrap ul {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(-15%) rotateX(45deg) rotateZ(45deg);
    transform-style: preserve-3d;
}

.wrap li {
    width: 330px;
    height: 230px;
    margin-bottom: 30px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
}

.wrap li img,
.wrap li div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.3s;
}

.wrap li img {
    z-index: 2;
}

.wrap li div:nth-of-type(1) {
    background: #ac5cf5;
    opacity: 0.5;
}

.wrap li div:nth-of-type(2) {
    background: #5db4eb;
    opacity: 0.5;
}

.wrap li div:nth-of-type(3) {
    background: #5debb4;
    opacity: 0.5;
}

.wrap li:hover {
    box-shadow: 0 0 50px #fff;
}

.wrap li:hover img {
    transform: translateZ(100px)
}

.wrap li:hover div:nth-of-type(1) {
    transform: translateZ(75px)
}

.wrap li:hover div:nth-of-type(2) {
    transform: translateZ(50px)
}

.wrap li:hover div:nth-of-type(3) {
    transform: translateZ(25px)
}

.shadowBox {
    width: 100%;
    height: 2000px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: 0.5s;
    display: none;
}

.showPic {
    width: 600px;
    height: 400px;
    box-shadow: 0 0 50px #000;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    opacity: 0;
    transition: 0.5s;
    display: none;
    transform: scale(0);
}

.prev,.next {
    width:50%;
    height:45px;
    position: absolute;
    top:0;
    bottom: 0;
    margin:auto;
    cursor: pointer;
    z-index: 2;
}
.prev{
    left:0;
    background: url(./images/prev.png) no-repeat left center;
}
.next{
    right:0;
    background: url(./images/next.png) no-repeat right center;
}
.showPic .img{
    height:400px;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    perspective: 500px;
}
.showPic img{
    width:600px;
    height: 400px;
    position: absolute;
    left:0;
    top:0;
    transition: transform 0.3s;
}
.showPic img.moveToRight{
    transform-origin: left;
}
.showPic img.moveToLeft{
    transform-origin: right;
}